html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
   
  input,
  button,
  select,
  textarea,
  optgroup,
  option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
  }

  input[type="text"],
  input[type="number"]{
    border: 1px solid black;
    border-radius: 2px;
    padding: 6px;
  }
   
  a:visited {
    color: inherit;
  }
   
  body {
    margin: 0;
    padding: 0;
   
    font-family: 'Roboto', sans-serif;
  }